<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}


<h3>hi, {{user.username}}!</h3>


<h4>what tickles your fancy?</h4>
<button id="fantasy-btn" class="movie-btn btn waves-effect waves-light green lighten-3" type="submit" name="action">fantasy</button>
<button id="scifi-btn" class="movie-btn btn waves-effect waves-light blue lighten-3" type="submit" name="action">scifi</button><br><br>
<button id="horror-btn" class="movie-btn btn waves-effect waves-light purple darken-2" type="submit" name="action">horror</button>
<button id="romance-btn" class="movie-btn btn waves-effect waves-light red darken-2" type="submit" name="action">romance</button>
</div>
<div id="ajax-response"></div>
<div class="empty"></div>
<nav id="footer" class="nav-extended red lighten-3">
	<a href="/users/home"><img src="../../static/nope-logo.png" id="nope-logo"></a>
</nav>
<br>
	<a href="{% url 'logout' %}">Logout</a>
<br><br>


	{% else %}
		<p>You are not logged in</p>
		<a href="{% url 'login' %}">login</a> |
		<a href="{% url 'signup' %}">signup</a>
	{% endif %}
{% endblock %}