{% block content %}
<div class="container">
		<h5>{{title}}</h5>
		<img src="https://image.tmdb.org/t/p/w500{{poster}}" id="movie-poster">

		<p class="movie-text">{{overview}}</p>
		{% if items is not None %}
		<p class="movie-text">wow, this looks really bad! if you're sure you want to watch it, i'll just leave this here..<br><br><a target="_blank" href="{{items}}" class="btn black"><i class="fa fa-video"></i>Go to movie</a></p>
		{% else %}
		<p id="not-found-text">this movie is too bad to exist on the internet. the universe hates you, sorry!</p>
</div>
{% endif %}
{% endblock %}